[submodule "syma"]
	path = syma
	url = https://github.com/syma-project/syma
[submodule "syma-lsp"]
	path = syma-lsp
	url = https://github.com/syma-project/syma-lsp
[submodule "syma-py"]
	path = syma-py
	url = https://github.com/syma-project/syma-py
[submodule "vscode-syma"]
	url = https://github.com/syma-project/vscode-syma
	path = vscode-syma
